* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
}

a {
    text-decoration: none;
    color: #0499ff;
}

.nav {
    min-height: 40px;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
}

.menu {
    display: flex;
    flex-flow: row;
    color: white;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
}

.menu li {
    padding: 10px;
}

.name {
    display: block;
    margin-right: auto;
    color: #0499ff;
}

header {
    padding: 40px;
    width: 100%;
    height: 400px;
    background-image: url(https://placeimg.com/1000/400/any);
    background-size:cover;
    text-align: center;
}


header img {
    border-radius: 50%;
    border: 2px  solid black; 
}

header img:hover {
    transform: scale(1.2) rotate(5deg);
    transition: all .5s;
}

.tag {
    display: table;
    margin: 10px auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}


.sub-title {
    background-color: black;
    color: yellow;
}

.content {
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    justify-content: space-around;
}

.card {
    max-width: 500px;
    margin: 10px;
    padding: 50px;
    border-bottom: 3px solid grey ;
    border-radius: 5px;
    font-size: 30px;
}

button {
    width: 200px;
    background-color: #63DABD;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #E6E6E6;
    border: none;
    transition: transform 1s linear;
}



.transition {
    transition: padding 0.3s linear, background-color 1s linear, font-size 1s linear;
}


button:hover {
    font-size: 40px;
    padding: 20px;
    background-color: black;
    /* transform: translateX(100px); */
    transform: skew(30deg);
    /* transform: rotateX(30deg); */
}


footer {
    text-align: center;
    padding: 60px;
}

footer p {
    font-size: 30px;
}

footer ul {
   display: flex;
   justify-content: space-around;
}

